<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890077103568-62ls97oesclunetissghd1hl89o2j678.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890077103568-62ls97oesclunetissghd1hl89o2j678</string>
	<key>API_KEY</key>
	<string>AIzaSyAzilf7EMZIbHAu5qRNROWD1QJLcMdMU8o</string>
	<key>GCM_SENDER_ID</key>
	<string>890077103568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techHometv</string>
	<key>PROJECT_ID</key>
	<string>techhome-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>techhome-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890077103568:ios:dd6bc25299b5ad4ba0e5d5</string>
</dict>
</plist>